# This file is managed by Ansible. Manual changes will be overwritten.

# roles/netbox/templates/configuration.py.j2

ALLOWED_HOSTS = {{ netbox_allowed_hosts }}

DATABASE = {{ netbox_database_settings }}

REDIS = {{ netbox_redis_settings }}

SECRET_KEY = '{{ netbox_secret_key }}'

API_TOKEN_PEPPERS = {
{% for key, value in api_token_peppers.items() %}
    {{ key }}: {{ value | tojson }},
{% endfor %}
}

{% for key, value in netbox_config.items() %}
{% if value is string %}
{{ key }} = '{{ value }}'
{% else %}
{{ key }} = {{ value }}
{% endif %}
{% endfor %}