[Service]
Type=simple
User={{ netbox_user }}
Group={{ netbox_group }}
WorkingDirectory={{ netbox_home }}/netbox
ExecStart={{ netbox_venv }}/bin/python3 {{ netbox_home }}/netbox/manage.py rqworker
Restart=on-failure
RestartSec=30
PrivateTmp=true